@-webkit-keyframes stickyHeader {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes stickyHeader {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 767px) {
  /*WORDPRESS BLOCKS*/
  .wp-block-media-text__content {
    padding: 0;
  }
}
@media screen and (min-width: 480px) {
  /*LIST*/
  .c-list--2col,
  .c-list--3col,
  .c-list--4col {
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  /*WORDPRESS*/
  .alignleft {
    margin-right: 20px;
    float: left;
    clear: left;
  }
  .alignright {
    margin-left: 20px;
    float: right;
    clear: right;
  }
  /*WORDPRESS BLOCKS*/
  .wp-block-media-text__content {
    padding-right: 0;
  }
  .wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
    padding-left: 0;
  }
  /*LAYOUT*/
  .l-tablet-flex {
    display: flex;
  }
  .l-tablet-flex > *:first-child {
    margin-left: 0;
  }
  .l-tablet-flex > *:last-child {
    margin-right: 0;
  }
  .l-tablet-grid {
    display: grid;
    gap: 20px;
  }
  .u-grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .u-grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  /*LIST*/
  .c-list--2col {
    -moz-column-gap: 80px;
    column-gap: 80px;
  }
  .c-list--3col {
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap: 50px;
    column-gap: 50px;
  }
  .c-list--4col {
    -moz-column-count: 4;
    column-count: 4;
  }
  /*TEXT ITEM*/
  .c-text-item--inline {
    padding-left: 290px;
    padding-bottom: 40px;
  }
  .c-text-item--inline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 250px;
    bottom: 0;
    width: 1px;
  }
  .c-text-item--inline .c-text-item__header {
    padding-bottom: 0;
    border: none;
  }
  .c-text-item--inline .c-title {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 220px;
  }
}
@media screen and (min-width: 1024px) {
  /*CSS CUSTOM PROPERTIES*/
  html {
    font-size: var(--desktop-font-size);
  }
  .c-site-header.j-sticky .c-site-header__nav__menu li a {
    color: var(--color-link);
  }
  /*WORDPRESS BLOCKS*/
  .wp-block-media-text,
  .wp-block-columns {
    margin: 100px 0;
  }
  /*HEADER*/
  body.j-menu-open {
    overflow: initial;
  }
  .c-site-header__toggle {
    display: none;
  }
  .c-site-header__nav {
    position: static;
    left: auto;
    right: auto;
    max-width: calc(100% - 140px);
    background-color: transparent;
    padding-top: 19px;
    overflow: visible;
    transition: none;
    float: right;
  }
  .c-site-header__nav__menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 0 !important;
  }
  .c-site-header__nav__menu li {
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    line-height: 1rem;
    margin-right: 5px;
    margin-bottom: 0;
  }
  .c-site-header__nav__menu li:last-of-type {
    margin-right: 0;
  }
  .c-site-header__nav__menu li a {
    color: #fff;
    background-color: transparent !important;
    padding: 15px 12px;
  }
  .c-site-header__nav__menu li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: transparent;
    margin-top: 3px;
    transition: 0.3s ease;
  }
  .c-site-header__nav__menu li.current-menu-item a::after,
  .c-site-header__nav__menu li a:hover::after {
    width: 100%;
    background-color: #fff;
  }
  .c-site-header.j-sticky {
    -webkit-animation: stickyHeader ease 1s;
    animation: stickyHeader ease 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .c-site-header.j-sticky .c-site-header__nav {
    padding-top: 9px;
  }
  /*LAYOUT*/
  .l-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .l-flex {
    display: flex;
  }
  .l-flex > *:first-child {
    margin-left: 0;
  }
  .l-flex > *:last-child {
    margin-right: 0;
  }
  .l-grid {
    display: grid;
    gap: 30px;
  }
  /*TIPOGRAFIA*/
  .t-title1,
  .c-post-content h1 {
    font-size: 3rem;
  }
  .t-title2,
  .c-post-content h2 {
    font-size: 2.4rem;
  }
  .t-title3,
  .c-post-content h3 {
    font-size: 1.8rem;
  }
  .t-title4,
  .c-post-content h4 {
    font-size: 1.5rem;
  }
  .t-title5,
  .c-post-content h5 {
    font-size: 1.3rem;
  }
  /*HERO*/
  .c-hero {
    min-height: 400px;
  }
  .c-hero__text .c-title {
    line-height: 3.75rem;
  }
  .c-hero__text .c-subtitle {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .c-hero--big {
    height: 60vh;
    min-height: 650px;
  }
  /*CONTENTBLOCK*/
  .c-block-header {
    margin-top: 100px;
    margin-bottom: 40px;
  }
  .c-block-header--background {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /*TEXT ITEM*/
  .c-text-item {
    padding-top: 0;
  }
  .c-text-item__header {
    margin-bottom: 20px;
  }
  .c-text-item__footer {
    margin-top: 30px;
  }
  /*CARD*/
  .c-card {
    margin-bottom: 0;
  }
  .c-card .c-picture {
    margin-bottom: 30px;
  }
  .c-card--rounded .c-picture {
    width: 200px;
    height: 200px;
  }
  .c-card .c-picture img {
    transition: 0.3s ease;
  }
  .c-card a:hover .c-picture img {
    transform: scale(1.2);
  }
  /*LIST*/
  .c-list__item {
    margin-bottom: 25px;
  }
  /*MAPPA*/
  .c-map {
    width: 100%;
    height: 450px;
  }
  /*CTA*/
  .c-cta {
    padding: 80px 0;
    margin: 110px 0;
  }
  /*FOOTER*/
  .c-site-footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .c-site-footer a:hover {
    text-decoration: underline;
  }
  .c-site-footer__address {
    margin-bottom: 0;
  }
  .c-site-footer__menu {
    display: inline-block;
    line-height: 1.8rem;
  }
  .c-site-footer__disclaimer {
    margin-top: 60px;
  }
  /*UTILITY*/
  .u-width-big {
    margin-left: -30px;
    margin-right: -30px;
  }
}
@media screen and (min-width: 1280px) {
  .l-container {
    padding-left: 60px;
    padding-right: 60px;
  }
  /*UTILITY*/
  .u-width-big {
    margin-left: -60px !important;
    margin-right: -60px !important;
  }
}
/*
OLD CONTAINER WITH PADDING
@media screen and (min-width: 1500px) {
  .l-container {
    padding-left: 11vw;
    padding-right: 11vw;
  }
}
@media screen and (min-width: 1800px) {
  .l-container {
    padding-left: 16vw;
    padding-right: 16vw;
  }
}
*/
